/*
    Student Name:Lizeth Hernandez
	File Name: analyze/styles.css
	Current Date: March 12 2022
*/

/* CSS reset */
body, header, nav, main, footer, img, h1, h3, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body and images */
body {
    background-color: #375f1b;
}

img {
    max-width: 100%;
    display: block;
}
/*style rule for mobile viewport*/

/*style rule for the tableet- desktop*/
.tablet-desktop{
  visibility:hidden;
}

/* Style rules for header content */
header h1 {
    text-align: center;
    color: #fff;
    font-family: 'Playfair Display', serif;
    padding: 5%;
    font-size: 3em;

}

/* Style rules for navigation area */
nav {
    background-color: #ebf7e3;
    border-bottom: 1px solid #375f1b;
}

nav ul {
    text-align: center;
    list-style-type: none;
}

nav li {
    font-size: 1em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
    padding: 3%;
    display:inline-block;
}

nav li a {
    display: block;
    color: #1b3409;
    text-decoration: none;
}

/* Style rules for main content */
main {
    padding: 2%;
    background-color: #ebf7e3;
    font-family: 'PT Sans', sans-serif;
}

main p {
    font-size: 1.25em;
}
.btn{
  background-color: #375f1b;
  padding: 2%;
  top: 2%;
  bottom: 2%;
  left:auto;
  right:auto;
  width: 80%;
  text-align: center;
  border-radius: 5px;
  font:#ebf7e3;
  text-decoration: none;
  font-size: 1.25em;
  display:block;
}
.corner{
  border-radius: 12px;
}
/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.85em;
    color: #fff;
    padding: 1% 0;
}
